
body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    max-width: auto;
}

h1 {
    text-align: center;
    margin-top: 10px;
}


.BudgetInput {
    display: block;
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #f68686;
    border-radius: 12px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.4;
    background-color: white;
    margin-bottom: 15px;
    text-align: center;
    outline: none;
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.2);
}

.ItemInput {
    display: block;
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #f68686;
    border-radius: 12px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.4;
    background-color: white;
    margin-bottom: 15px;
    text-align: center;
    outline: none;
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.2);
}

.CostInput {
    display: block;
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #f68686;
    border-radius: 12px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.4;
    background-color: white;
    margin-bottom: 15px;
    text-align: center;
    outline: none;
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.2);
}

.ExpenseButton {
    width: 100%;
    padding: 12px 15px;
    background-color: #4CAF50;
    border-radius: 12px;
    cursor: pointer;
    text-align: center;
    border: 1px solid;
    box-sizing: border-box;
}

.ExpenseButton:hover {
    background-color: #45A049
}

.ExpenseButton:active {
    background-color: #3E8E41;
}

.TotalSpent {
    text-align: center;
    font-weight: normal;
    font-style: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border-radius: 12px;
}

.SpentNumber {
    font-weight: bold;
    font-size: 1.3em;
    color: #333;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ExpenseList {
    list-style: none;
    margin-bottom: 10px;
    background-color: lightgray;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    font-size: 16px;
    text-align: center;
}